
body {
    background-color:#2a2727;
    font-family: 'Roboto Mono', monospace;

}

.search_bar {
    margin-top:2.5em;
    margin-bottom:2.5em;
    
}
.searchBar{
    background-color: #35353580;
    color: #eb0808;
    border-color: #eb0808; 
}
.media-body{
    color: white;
}
li:hover{
    background-color: #eb0808;
    border:1px solid rgb(255, 0, 0);
    border-bottom:2px solid rgb(255, 0, 0);
    cursor: pointer;
}
.media-body:hover{
    color: #000000;
    font-style: oblique;
}
.title-list-item{
   
    padding-top:0.7em;
    text-align: center;
}
/* .list-group-item, li{
    margin-top:1em;
} */
.list-group-item{
    padding:0.4em;
    background-color: rgb(27, 27, 29);
    border:none;
    /* border-color:#ff0606; */
    box-shadow: 2px 5px 5px #000000;
}
.navigationList{
    padding-left:0px;
    
}
.col-md-8.movie{
    background-color: rgb(31, 31, 31);
    padding-top: 1em;
    border-radius:0.4em;
    box-shadow: 2px 5px 5px rgb(22, 21, 21);
    /* border: 1px solid #ff0606; */

}

.para{
    font-size: 1.5vh;
}
.detail{
    color:white;
    margin-top:1.5em;
    text-align: justify;
}

.description{
    color:white;
    font-size: 1.8vh;
    text-align:justify;
}
.description, h1{
    color:rgb(223, 223, 223);
}

.Affichefilm{
    margin-left:10%;
    margin-right:10%;
}
.textfilm{
text-align: center;}
.titlerecomandations{
    text-align: center;
    color:red;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////// ICI CASTING CSS ///////////////////////////////////////////////////////////// */

.media-object.img-rounded.cast{
    max-width: 5em;
}
.card{
    background-color: #eb0808;
}